<div class="wrap-grey-footer">
  <div class="container footer-container">
    <div class="footer-box">
      <div class="row">
        <div class="col-xs-3 flex-footer">
        <%= image_tag "salad.png", id: "footer-logo" %>
        </div>
        <div class="col-xs-6 col-xs-offset-3">
          <div class="list-footer">
            <ul>
              <li>
                <a href="#"> About </a>
              </li>
              <li>
                <a href="#"> Contact us</a>
              </li>
              <li>
                <a href="#"> Le Wagon </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="links-box">
      <div class="icon-content">
        <a href="#" class="hover-facebook scale-icon" ><i class="fa fa-facebook-square" aria-hidden="true"></i> <br> <p>Facebook</p></a>
      </div>
      <div class="icon-content">
        <a href="#" class="hover-twitter scale-icon" ><i class="fa fa-twitter-square" aria-hidden="true"></i> <br> <p>Twitter</p></a>
      </div>
      <div class="icon-content">
        <a href="#" class="hover-github scale-icon" ><i class="fa fa-github-square" aria-hidden="true"></i> <br> <p>Github</p></a>
      </div>
    </div>
  </div>
</div>
