.banner {
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: $body-font;
  text-align: center;
  color:white;
}

.logo-banner {
  margin-top: 20px;
}

.page {
  background-size: cover;
  background-position: center;
}
.sign-up {
  margin-top: 10px;
}


.header-element {

  &:last-child {
  border: 1px solid #FAB2EA;
  background-color: #FAB2EA;
  opacity: 1;
   &:hover {
    color:#FAB2EA;
    background-color: rgba(0,0,0,0);
   }
  }
  margin-left: 20px;
  padding: 8px 17px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
  color:white;
  font-family: $headers-font;
  border: 1px solid rgba(0,0,0,0);
  opacity: 0.9;
  &:hover {
    opacity: 1;
    border: 1px solid white;
    transition: all 0.5s ease;
  }
}
.content-search-bar {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  align-items:center;
  background: rgba(255, 0, 0, 0.0);
}

input, select, textarea {
  color: black;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.form-skel {
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33CA7F;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

  .button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33CA7F;
  border-color: #33CA7F; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #2AA869;
  border-color: #2AA869; }
}
