.wrap-grey-footer {
  background-color: #F7F7F7;
  margin: 0;
}

.footer-container {
  padding-top: 60px;
}

.footer-box {
  padding-top: 40px;
  padding-bottom: 30px;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
#footer-logo {
  height: 100px;
  text-align: center;
}

.flex-footer {
  display: flex;
  justify-content: space-around;
  border-right: 1px solid rgba(0,0,0,0.1);
}

.list-footer {
  ul {
    margin-top: 0;
  }
  font-size: 26px;
  font-family: $body-font;
  a {
    text-decoration: none;
    color: rgba(118, 118, 118, 0.6);
    &:hover {
      color: rgba(118, 118, 118, 1);
    }
  }
  li {
    list-style: none;
  }
}


.links-box {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}

.icon-content {
  margin-top: 10px;
  i {
    font-size: 36px;
  }
  text-align: center;
  a {
    text-decoration: none;
    color: rgba(118, 118, 118, 0.6);
  }
  p {
    margin-top: 5px;
    margin-bottom: 0;
    font-family: $body-font;
  }
}


.hover-facebook {
  &:hover {
    color: #3B5998;
  }
}

.hover-twitter {
  &:hover {
    color: #00aced;
  }
}

.hover-github {
  &:hover {
    color: rgba(36, 41, 46, 1.00);
  }
}

.scale-icon {
  i {
    transition: all .5s ease;
  &:hover {

    transition: all .5s ease;
    transform: scale(1.2);
  }
}
}
